* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-family: "PT Sans Narrow", sans-serif;
    background: #EFEFEF;
    color: #7882A4;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #C0A080;
}

.linkUnderline {
    padding-bottom: 1px;
    transition: 500ms;
    border-bottom: 1px solid transparent;
}

.linkUnderline:hover {
    border-bottom: 1px solid #C0A080;
}

.navbar {
    width: 100vw;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__info {
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar__info__logo img {
    height: 100%;
}

.navbar__info__titleSubtitle__title {
    font-weight: bold;
    font-size: 28px;
}

.navbar__info__titleSubtitle__subtitle {
    font-size: 20px;
}

.navbar__menu {
    width: 25%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar__menu__item {
    width: 33.33%;
    font-size: 28px;
}

.container {
    width: 60%;
    margin: 1% auto;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.projects__item {
    aspect-ratio: 1;
    padding: 10%;
    background: #7882A4;
    transition: 500ms;
}

.projects__item__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.projects__item__info__logo {
    width: 17.5%;
    position: absolute;
    top: 5%;
    left: 5%;
}

.projects__item__info__title {
    font-size: 34px;
    color: #EFEFEF;
    transition: 500ms;
}

.projects__item__info__subtitle {
    visibility: hidden;
    font-weight: normal;
    font-size: 20px;
    color: #EFEFEF;
    text-align: justify;
    margin-bottom: 5%;
}

.projects__item:hover .projects__item__info__subtitle {
    visibility: visible;
    animation: fadeInUp;
    animation-duration: 500ms;
}

.projects__item:hover .projects__item__info__title {
    font-size: 42px;
    color: #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
}

.projects__item:hover {
    background-color: #C0A080;
}

@media (max-width: 768px) {
    .container {
        width: 100vw;
    }
    .projects {
        grid-template-columns: 1fr;
    }
}