body{
    background: #fff;
    margin: 0;
    font-family: "VictorMono Nerd Font", Arial, Helvetica, sans-serif;
    line-height: 2;
    font-size: 1em;
}

#container{
    width: 75vw;
    height: 100vh;
    margin: 0 auto;
}

#topbar{
    height: 10%;
}

#content{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    height: 80%;
}
#content img{
    border: black .2em solid;
}

#footbar{
    height: 10%;
}