html,
body {
    font-family: "Oswald", sans-serif;
    overflow: hidden;
}

a { text-decoration: none; color: inherit; }
h1, h2, h3, h3, h5, p { color: #252A34; padding: 0; margin: 0; }

.big-text { font-size: 128px; font-weight: 700; }
.medium-text { font-size: 64px; font-weight: 700; }

@media (max-width: 768px) {
    .big-text { font-size: 68px; }
    .medium-text { font-size: 52px; }
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    height: 10vh;
    background: #252A34;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-bottom: 4px solid #EAEAEA;
}

.header h1 { color: #EAEAEA; text-shadow: 0px 0px 10px #000;}

.projects {
    padding: 30px;
    background-color: #08D9D6;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    transition: 300ms;
    border-bottom: 2px solid #EAEAEA;
}

.projects h1 { animation : bounceInLeft 1s; color: #FF2E63; text-shadow: 0px 0px 10px #000;}

.aboutMe {
    padding: 30px;
    background-color: #FF2E63;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: end;
    transition: 300ms;
    border-top: 2px solid #EAEAEA;
}

.aboutMe h1 { animation : bounceInRight 1s .5s backwards; color: #08D9D6; text-shadow: 0px 0px 10px #000;}


*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
