body {color: #232323; background: #078080;}
a {text-decoration: none; color: #f45d48; font-weight: 700;}
a:hover {color: #232323; transition: all .2s ease-in-out;}
.big-text {font-family:"Merriweather", serif; font-size: 6em; font-weight: 900;}
.medium-text {font-family:"Merriweather", serif; font-size: 1.5em; font-weight: 400;}
.small-text {font-family: "Roboto", sans-serif; font-size: 18px; font-weight: 400;}
.bg {position: absolute; display: flex; height: 100%; width: 100%;}
.bg-1 {width: 40%; background: #078080;}
.bg-2 {width: 60%; background: #f8f5f2;}

.container {max-width: 768px; position: absolute; top:50%; left: 50%; transform: translate(-50%, -50%); display: flex;}

.card {background-color: #fffffe; box-shadow: -20px 20px 20px #2225254d;}
.card__main {white-space: nowrap; padding: 20px 20px 0 20px;}
.photo {display: block; border-radius: 100%; max-width: 175px; margin: 0 auto;}
.name {text-align: center; width: fit-content; margin: 20px auto;}
.divider {width: 75px; height: 2px; background-color: #f45d48; margin: 0 auto;}
.role {text-align: center; width: fit-content; margin: 20px auto;}
.card__links {background: #f45d48; display: flex; justify-content: center; align-items: center}
.link {margin: 5px; width: 25px; height: 25px; background-size: contain; transition: background-image .2s ease-in-out;}
.link-linkedin {background-image: url("img/linkedin.png")}
.link-linkedin:hover {background-image: url("img/linkedin2.png")}
.link-twitter {background-image: url("img/twitter.png")}
.link-twitter:hover {background-image: url("img/twitter2.png")}

.info {padding: 20px;}
.info__buttons {display: flex; justify-content: center; align-items: center; margin: 20px 0}
.button {margin: 0 15px; border-radius: 50px; padding: 5px 10px; cursor: pointer; transition: all .2s ease-in-out; border: 2px solid #f45d48; font-weight: 700;}
.button-fill {color: #fffffe; background: #f45d48;}
.button-fill:hover {color:#232323; background: none;}
.button-noFill:hover {color: #fffffe; background: #f45d48;}

@media only screen and (max-width: 769px) {
  .bg {flex-direction: column-reverse;}
  .bg-1 {height: 100%; width: 100%;}
  .bg-2 {height: 256px; width: 100%;}
  .container {flex-direction: column; height: 100%; width: 90%; position: static; transform: translate(0, 0); margin: 0 auto; padding-top: 25px;}
  .card {width: 100%;}
  .info {width: 100%; color: #fffffe; margin-top: 10%;}
  .button-fill:hover {color:#fffffe;}
}


*, *::before, *::after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
