#wrapper {
    height: 100vh;
    width: 75vw;
    margin: 0 auto;
}

#header {
    width: 100%;
    height: 10%;
    background-color: blanchedalmond;
}

#content {
    width: 100%;
    height: 80%;
    background-color: bisque;
}

#footer {
    width: 100%;
    height: 10%;
    background-color: burlywood;
}